html,
body {
  height: 100%;
}

div,
body,
html,
body {
  margin: 0;
  padding: 0;
}

.flex-container {
  display: flex;
  flex-flow: wrap row;
}

.icon {
  width: 15px;
  position: relative;
  top: 2px;
  right: 3px;
}

.weather-icon {
  display: block;
  height: 47px;
  marginBottom: 50px;
  width: 100%;
}

.weather-location-info-card,
.weather-temp-card,
.weather-atmosphere-card {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 350px;
  margin: 5%;
}

.weather-status-card {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 800px;
  margin: 2%;
}

.weather-temp-card .card-title,
.weather-atmosphere-card .card-title,
.weather-status-card .card-title,
.weather-location-info-card .card-title {
  margin-top: 2rem;
}

/* Footer styles */

footer {
  padding: 3rem 0 2rem;
}

.links-container {
  display: flex;
  flex-flow: wrap row;
}

.link-item,
.cpy {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100px;
  text-align: center;
}

footer .icon {
  left: 5px;
  padding-right: 1%;
}
