.content {
  text-align: center;
}

html,
body {
  height: 100%;
}

div,
body,
html,
body {
  margin: 0;
  padding: 0;
}

.bg-img-wrapper-div {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  opacity: .9;
}

.icon {
  width: 15px;
  position: relative;
  top: 2px;
  right: 3px;
}

.weather-icon {
  position: relative;
  left: 4rem;
  top: 1.2rem;
}
