.content {
  text-align: center;
}

html,
body {
  height: 100%;
}

div,
body,
html,
body {
  margin: 0;
  padding: 0;
}

.bg-img-wrapper-div {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  opacity: .8;
}

.temps-container {
  background: rgba(255, 255, 255, .7);
  text-align: center;
  padding: 0;
  max-width: 95%;
  margin: 0 auto;
  position: relative;
  top: 2rem;
}

.temp-panel {
  display: inline-block;
  margin: 5% 4%;
}
